video {
  width: 15vw;
  height: 20vh;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
}
.streamcomponent div {
  position: absolute;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}
p {
  margin: 0;
}
