.rolling {
  .slider {
    height: 40rem;
    margin-top: 3rem;
    background-color: #293132;
    text-align: center;
    position: relative;
    animation: slideColor 2s forwards infinite;
    border-radius: 10px;
  }

  .caption {
    line-height: 100px;
    font-size: 60px;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-left: -300px;
  }

  .text-box {
    display: inline-block;
    position: relative;
  }

  .text-box div {
    width: 20rem;
    display: inline-block;
    position: absolute;
    top: -200px;
    transform: rotateX(-90deg);
    opacity: 0;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    animation-timing-function: ease;
  }

  .text-box div:nth-child(1) {
    animation: rollDown 3s 1;
  }

  .text-box div:nth-child(2) {
    animation: rollDown2 3s 1;
  }

  .text-box div:nth-child(3) {
    animation: rollDown3 3s 1;
  }
  .text-box div:nth-child(4) {
    animation: rollDown4 3s 1;
  }
  .text-box div:nth-child(5) {
    animation: rollDown5 3s 1;
  }

  .text-box div:nth-child(6) {
    animation: rollDown6 3s 1;
  }

  // .text-box div:nth-child(7) {
  //   animation: rollDown7 3s 1;
  // }
  // .text-box div:nth-child(8) {
  //   animation: rollDown8 3s 1;
  // }
  // .text-box div:nth-child(9) {
  //   animation: rollDown9 3s 1;
  // }

  .text-box div:nth-child(7) {
    animation: rollDown10 3s 1;
    animation-fill-mode: forwards;
  }

  @keyframes rollDown {
    0% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    3% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    6% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    10% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  @keyframes rollDown2 {
    10% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    13% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    16% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    20% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  @keyframes rollDown3 {
    20% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    23% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    26% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    30% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  @keyframes rollDown4 {
    30% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    33% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    36% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    40% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  @keyframes rollDown5 {
    40% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    43% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    46% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    50% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  @keyframes rollDown6 {
    50% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    53% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    56% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    60% {
      top: 50px;
      transform: rotateX(30deg);
      opacity: 0;
    }
  }
  // @keyframes rollDown7 {
  //   60% {
  //     top: -200px;
  //     transform: rotateX(-90deg);
  //   }
  //   63% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   66% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   70% {
  //     top: 50px;
  //     transform: rotateX(30deg);
  //     opacity: 0;
  //   }
  // }
  // @keyframes rollDown8 {
  //   70% {
  //     top: -200px;
  //     transform: rotateX(-90deg);
  //   }
  //   73% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   76% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   80% {
  //     top: 50px;
  //     transform: rotateX(30deg);
  //     opacity: 0;
  //   }
  // }
  // @keyframes rollDown9 {
  //   80% {
  //     top: -200px;
  //     transform: rotateX(-90deg);
  //   }
  //   83% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   86% {
  //     top: -74px;
  //     transform: rotateX(0deg);
  //     opacity: 1;
  //   }
  //   90% {
  //     top: 50px;
  //     transform: rotateX(30deg);
  //     opacity: 0;
  //   }
  // }
  @keyframes rollDown7 {
    90% {
      top: -200px;
      transform: rotateX(-90deg);
    }
    93% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    96% {
      top: -74px;
      transform: rotateX(0deg);
      opacity: 1;
    }
    100% {
      top: -74px;
      transform: scale(1.5);
      transition: 3s ease-in-out;
      opacity: 1;
    }
  }

  @keyframes slideColor {
    0% {
      background-color: #475d86;
    }
    33% {
      background-color: #2f6b66;
    }
    66% {
      background-color: #6b7733;
    }
    100% {
      background-color: #475d86;
    }
  }
}
